    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<app-navbar></app-navbar>
		<style>
		body {
            background-position: center;
            background-size: cover;
            background-image: url("../../assets/images/Effective-teamwork.png");
        	min-height: 100%;
        }
	</style>

			<div class="text-center">
				<h1 class="display-4">Ready for<br>meaningful engagement?</h1>
				<p class="lead">Find and Create exciting Quizzzzes.</p>
				<a class="btn btn-lg" [routerLink] = "['/getstart']" role="button">Get Started <i class="bi bi-arrow-right-short"></i></a>
			</div>

			<div class="bg text-center">
			<img src="../../assets/images/Effective-teamwork.png" >
			</div>
		    
<app-footer></app-footer>
