<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Update Food</h4>
                </div>
                <div class="card-body">
                    <form #registerationForm="ngForm" (ngSubmit)="updateDish()">

                        <div class="form-group">
                            <label for="mname">Dish Name:</label>
                            <input type="text" class="form-control" required #mname="ngModel"
                                placeholder="Enter dish name" id="mname" name="name" [(ngModel)]="dish.name"
                                ngModel>
                            <span *ngIf="mname.invalid && mname.touched" style="color: red">Please enter a valid
                                food name.</span>

                        </div>
                        <div class="form-group">
                            <label for="bname">Course of Meal:</label>
                            <input type="text" required #bname="ngModel" class="form-control"
                                placeholder="Which course of meal is it" id="bname" name="course"
                                [(ngModel)]="dish.course" ngModel>
                            <span *ngIf="bname.invalid && bname.touched" style="color: red">Please enter a valid input.</span>
                        </div>
                        <div class="form-group">
                            <label for="mctg">Food Cuisine:</label>
                            <input type="text" class="form-control" required #mctg="ngModel"
                                placeholder="Which cuisine does it belongs to" id="mctg" name="cuisine"
                                [(ngModel)]="dish.cuisine" ngModel>
                            <span *ngIf="mctg.invalid && mctg.touched" style="color:red">Please enter a valid
                                food cuisine.</span>
                        </div>

                        <div class="form-group">
                            <label for="desc">Food Description:</label>
                            <input type="text" class="form-control" required #desc="ngModel"
                                placeholder="Enter food description" id="desc" name="description"
                                [(ngModel)]="dish.description" ngModel>
                            <span *ngIf="desc.invalid && desc.touched" style="color:red">Please enter a valid
                                food description.</span>
                        </div>

                        <div class="form-group">
                            <label for="scomp">Vegetarian or Non-Vegetarian:</label>
                            <input type="text" required #scomp="ngModel" class="form-control"
                                placeholder="Enter veg/non-veg" id="scomp" name="salt"
                                [(ngModel)]="dish.salt" ngModel>
                            <span *ngIf="scomp.invalid && scomp.touched" style="color: red">Please enter a valid input.</span>
                        </div>

                        <div class="form-group">
                            <label for="stk">Total Stock (In Plate):</label>
                            <input type="number" required #stk="ngModel" class="form-control"
                                placeholder="Enter total stock" id="stk" name="totalAvailable"
                                [(ngModel)]="dish.totalAvailable" ngModel>
                            <span *ngIf="stk.invalid && stk.touched" style="color: red">Please enter a valid
                                total stock.</span>
                        </div>

                        <div class="form-group">
                            <label for="pc">Price:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#8377;</span>
                                </div>
                                <input type="number" required #pc="ngModel" class="form-control"
                                    placeholder="Enter price" id="pc" name="price"
                                    [(ngModel)]="dish.price" ngModel>
                            </div>
                            <span *ngIf="pc.invalid && pc.touched" style="color: red">Please enter a valid
                                unit price.</span>
                        </div>

                        <hr>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" [disabled]="registerationForm.invalid"
                                data-toggle="modal" data-target="#myModal">Update Food</button>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Update a food</h4>
                                            <button type="button" class="close" (click)="onClick()"
                                                data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <span *ngIf="isValid" style="color:green">{{message}}</span>
                                            <span *ngIf="!isValid" style="color: red">{{message}}</span>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                (click)="onClick()">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>


        </div>
    </div>
</div>