body {
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}